<?xml version="1.0"?><!--
/**
 * @category			Module Configuration
 * @package				DndInxmail_Subscriber
 * @dev					Merlin
 * @last_modified		13/03/2013
 * @copyright			Copyright (c) 2012 Agence Dn'D
 * @author				Agence Dn'D - Conseil en creation de site e-Commerce Magento : http://www.dnd.fr/
 * @license				http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->

<config>
    <modules>
        <DndInxmail_Subscriber>
            <version>3.2.0.1</version>
        </DndInxmail_Subscriber>
    </modules>
    <global>
        <models>
            <dndinxmail_subscriber>
                <class>DndInxmail_Subscriber_Model</class>
            </dndinxmail_subscriber>
            <newsletter_resource>
                <rewrite>
                    <subscriber>DndInxmail_Subscriber_Model_Resource_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter_resource>
        </models>

        <resources>
            <dndinxmail_subscriber_setup>
                <setup>
                    <module>DndInxmail_Subscriber</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </dndinxmail_subscriber_setup>
        </resources>

        <blocks>
            <dndinxmail_subscriber>
                <class>DndInxmail_Subscriber_Block</class>
            </dndinxmail_subscriber>
        </blocks>
        <helpers>
            <dndinxmail_subscriber>
                <class>DndInxmail_Subscriber_Helper</class>
            </dndinxmail_subscriber>
        </helpers>
        <events>
            <newsletter_subscriber_delete_before>
                <observers>
                    <dndinxmail_subscriber_synchronize_subscriber>
                        <class>dndinxmail_subscriber/observer</class>
                        <method>deleteSubscriber</method>
                    </dndinxmail_subscriber_synchronize_subscriber>
                </observers>
            </newsletter_subscriber_delete_before>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <dndinxmail_subscriber_synchronize_subscriber>
                        <class>dndinxmail_subscriber/observer</class>
                        <method>observeSubscriber</method>
                    </dndinxmail_subscriber_synchronize_subscriber>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
    </global>
    <frontend>
        <routers>
            <dndinxmail_subscriber>
                <use>standard</use>
                <args>
                    <module>DndInxmail_Subscriber</module>
                    <frontName>inxmail_datasource</frontName>
                </args>
            </dndinxmail_subscriber>
            <dndinxmail_subscriber_front>
                <use>standard</use>
                <args>
                    <module>DndInxmail_Subscriber</module>
                    <frontName>dndinxmail_subscriber</frontName>
                </args>
            </dndinxmail_subscriber_front>
        </routers>
        <layout>
            <updates>
                <dndinxmail_subscriber>
                    <file>dndinxmail.xml</file>
                </dndinxmail_subscriber>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <DndInxmail_Subscriber>
                    <files>
                        <default>DndInxmail_Subscriber.csv</default>
                    </files>
                </DndInxmail_Subscriber>
            </modules>
        </translate>
        <layout>
            <updates>
                <dndinxmail_subscriber>
                    <file>dndinxmail.xml</file>
                </dndinxmail_subscriber>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <DndInxmail_Subscriber_Adminhtml before="Mage_Adminhtml">DndInxmail_Subscriber_Adminhtml</DndInxmail_Subscriber_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <dndinxmail_subscriber_general>
            <syncrhonize_subscribers>
                <subscribers_per_pass>500</subscribers_per_pass>
            </syncrhonize_subscribers>
        </dndinxmail_subscriber_general>
        <dndinxmail_subscriber_crons>
            <crons_synchronize_groups>
                <customers_per_pass>50</customers_per_pass>
            </crons_synchronize_groups>
        </dndinxmail_subscriber_crons>
        <dndinxmail_subscriber_datasource>
            <feed_oneproduct>
                <img_width>100</img_width>
                <img_height>100</img_height>
            </feed_oneproduct>
            <feed_new>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <nb>3</nb>
            </feed_new>
            <feed_random>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <nb>3</nb>
            </feed_random>
            <feed_bestsell>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <nb>3</nb>
            </feed_bestsell>
            <feed_attribute>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <nb>3</nb>
            </feed_attribute>
            <feed_category>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <nb>3</nb>
            </feed_category>
            <feed_lastbought>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <nb>3</nb>
            </feed_lastbought>
            <feed_related>
                <img_width>100</img_width>
                <img_height>100</img_height>
                <nb>3</nb>
            </feed_related>
        </dndinxmail_subscriber_datasource>
        <dndinxmail_subscriber_mapping>
            <mapping_groups>
                <customer_limit_specific_groups>10</customer_limit_specific_groups>
                <customer_config_last_customers>30</customer_config_last_customers>
                <customer_config_best_customers>1000</customer_config_best_customers>
                <customer_config_abandonned_carts>30</customer_config_abandonned_carts>
                <customer_config_orders_options>single_date</customer_config_orders_options>
                <customer_config_orders_options_single_date>30</customer_config_orders_options_single_date>
            </mapping_groups>
        </dndinxmail_subscriber_mapping>
        <crontab>
            <jobs>
                <dndinxmail_subscriber_synchronize_unsubscribed>
                    <schedule>
                        <cron_expr>0 * * * *</cron_expr>
                    </schedule>
                </dndinxmail_subscriber_synchronize_unsubscribed>
                <dndinxmail_subscriber_synchronize_customer_group>
                    <schedule>
                        <cron_expr>0 1 * * *</cron_expr>
                    </schedule>
                </dndinxmail_subscriber_synchronize_customer_group>
            </jobs>
        </crontab>
    </default>
    <crontab>
        <jobs>
            <dndinxmail_subscriber_synchronize_unsubscribed>
                <run>
                    <model>dndinxmail_subscriber/observer::synchronizeUnsubscribed</model>
                </run>
            </dndinxmail_subscriber_synchronize_unsubscribed>
            <dndinxmail_subscriber_synchronize_customer_group>
                <run>
                    <model>dndinxmail_subscriber/observer::synchronizeCustomerGroup</model>
                </run>
            </dndinxmail_subscriber_synchronize_customer_group>
        </jobs>
    </crontab>
</config>
